<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WTParker.Labels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WTParker.Labels.Properties.Settings>
            <setting name="CompanyList" serializeAs="String">
                <value>01,02,03,04,05,06,07,08,09,10</value>
            </setting>
            <setting name="NextBarcodeNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BarcodePrefix" serializeAs="String">
                <value>PL</value>
            </setting>
            <setting name="BarcodeTypeList" serializeAs="String">
                <value>Code 39,Code 128,QRCode</value>
            </setting>
            <setting name="BarcodeType" serializeAs="String">
                <value>Code 39</value>
            </setting>
            <setting name="ShowBarcodeText" serializeAs="String">
                <value>True</value>
            </setting>
        </WTParker.Labels.Properties.Settings>
    </userSettings>
</configuration>
